body {
    background-image:url("Rocket-1.jpg"); background-repeat: no-repeat; 

    background-size: 100%;
}
p {
    color:blue;
}
h1{
    color: purple; -webkit-text-stroke-color: white; -webkit-text-stroke-width: .4px;
}
h2 {
    color: purple; -webkit-text-stroke-color: black; -webkit-text-stroke-width: .1px;
}